.toolbar-Preferences {
  height: inherit;
  padding: 10px;

  .item-back {
    height: inherit;

    .item-back-title {
      color: @text-color-sidebar;
    }

    img.content-mask {
      background: @text-color-sidebar;
    }
  }

}

.preferences-wrap {
  .container-preference-tabs {
    border-color: @border-color-primary;

    .preferences-tabs {
      padding-top: 0;

      .item {
        padding-top: 10px;
      }

      .item.active {
        background: @background-dark;
        box-shadow: none;
      }
    }
  }
}